<div class="card mt-2">
    <div class="card-header">
        <legend>Edit</legend>
    </div>
    <div class="card-body">
        <form *ngIf="value" (ngSubmit)="onSave()" [formGroup]="employeeFrom">
            <fieldset>

                <div class="form-group">

                    <input type="email" class="form-control" formControlName="name" placeholder="Name"
                        [(ngModel)]="value.value.name">

                </div>
                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Email" formControlName="email"
                        [(ngModel)]="value.value.email">
                </div>
                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Date" formControlName="date"
                        [(ngModel)]="value.value.date">
                </div>
                <div class="btn-group mt-2">
                    <button type="submit" class="btn btn-outline-success m-1">Submit</button>
                    <button type="button" class="btn btn-outline-danger m-1">Cancel</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<button class="btn btn-outline-secondary mt-2" (click)="onGoToBack()">Back</button>